/*Variables*/
body {
  font-family: verdana;
  color: red;
  background-color: #FAFAFA; }

/*nesting o anidacion*/
nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav ul:nth-child(1) {
    padding-left: 20px; }
  nav li {
    display: inline-block;
    margin: 0px;
    /*transform:skew(-7deg,0deg);*/ }
  nav a {
    background-color: #FF4000;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    color: white;
    display: block;
    font-weight: bold;
    margin-right: -7px;
    padding: 15px 20px;
    text-decoration: none;
    transition: all 1s; }
    nav a:hover {
      opacity: 0.2; }

nav:before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 49px;
  border-bottom: 4px solid grey; }

nav:after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  left: 20px;
  top: 0px;
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 24px; }

.caja {
  height: 100%;
  margin: 20px;
  position: relative;
  width: 200px;
  display: inline-block;
  background-color: #FFF; }
  .caja h2 {
    text-align: center; }
  .caja .pic {
    text-align: center; }
    .caja .pic img {
      margin: 0;
      padding: 0;
      height: 6em;
      width: 6em;
      border: 2px solid #FF4000;
      border-radius: 50%; }
  .caja .info {
    background-color: #FF4000;
    color: #FFF;
    margin: 12px 12px 20px 12px;
    position: relative;
    padding: 1.2em; }
    .caja .info p {
      font-size: 0.8em;
      margin: 0px 5px 2px 10px; }
  .caja .info:after {
    content: "";
    display: block;
    position: absolute;
    left: 45%;
    top: -20px;
    border-color: transparent transparent #FF4000 transparent;
    border-style: solid;
    border-width: 10px; }

#primero {
  padding-left: 40px; }

#container {
  background-color: #E6E6E6;
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  position: relative;
  width: 80%;
  margin: 100px auto; }

/*# sourceMappingURL=estilo.css.map */
